
@font-face {
  font-family: bebas neue;
  src: url(./assets/BebasNeue.otf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #EEE;
}

.nav-bar {
  list-style-type: none;
  display: flex;
  width: 100%;
  max-height: 50px;
  background-color: hsl(215, 71%, 32%);
}

.nav-bar_item {
  flex: 1;
}

#header-item {
  flex: 8;
}

.nav-bar_item .nav-bar_button {
  display: block;
  background-color: hsl(183, 74%, 70%);
  color: hsl(0, 0%, 20%);
  font-family: bebas neue;
  font-size: 1.5rem;
  border: none;
  min-width: 65px;
  text-align: center;
  padding: 10px;
}

.nav-bar_button:hover {
  background-color: hsl(183, 74%, 66%);
}

.nav-bar_button:active {
  background-color: hsl(183, 74%, 62%);
}

.nav-bar_header {
  color: white;
  font-family: bebas neue;
  font-size: 2.2rem;
  border: none;
  padding: 10px;
}

.half-width-image {
  width: 50%;
}