/* 
  Cyan: hsl(183, 74%, 70%)
  Cerulean: hsl(209, 54%, 55%)
  Navy: hsl(215, 71%, 32%)
  Pearl: hsl(336, 20%, 98%)
  Hot Pink: hsl(337, 74%, 55%)
*/

@font-face {
  font-family: bebas neue;
  src: url(../assets/BebasNeue.otf);
}

@font-face {
  font-family: Clear Sans;
  src: url(../assets/Clear_Sans/WOFF/ClearSans-Thin.woff);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFF;
}

/* === NavBar Component === */

.nav-bar {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr repeat(3, 125px);
  grid-template-rows: 1fr;
  width: 100%;
  background-color: hsl(215, 71%, 32%);
}

.nav-bar:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}

.nav-bar:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
}

.nav-bar:nth-child(3) {
  grid-column: 3;
  grid-row: 1;
}

.nav-bar:nth-child(4) {
  grid-column: 4;
  grid-row: 1;
}

.nav-bar_item .nav-bar_button {
  display: block;
  background-color: hsl(183, 74%, 70%);
  color: hsl(0, 0%, 20%);
  font-family: bebas neue;
  font-size: 1.5rem;
  border: none;
  min-width: 65px;
  text-align: center;
  padding: 10px;
}

.nav-bar_button:hover {
  background-color: hsl(183, 74%, 66%);
}

.nav-bar_button:active {
  background-color: hsl(183, 74%, 62%);
}

.nav-bar_header {
  color: white;
  font-family: bebas neue;
  font-size: 2.2rem;
  border: none;
  padding: 10px;
}

@media (max-width: 500px) {
  .nav-bar {
    grid-template-rows: 1fr 1fr;
  }

  .nav-bar_item {
    grid-column: 1;
    grid-row: 2;
  }
}

/* === SignInPanel Component === */

.sign-in-panel {
  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-template-columns: 1fr 1fr;
  border: 1px solid gray;
  max-width: 800px;
  border-radius: 5px;
  font-family: Arial;
  background-color: hsl(336, 20%, 98%);
  margin: 10px;
  padding: 10px;
}

.panel_header {
  grid-column: 1 / 2;
  grid-row: 1;
}

.panel_header h1 {
  color: #333;
  font-family: Clear Sans;
  font-size: 3rem;
}

.panel_left-side-bar {
  grid-column: 1;
  grid-row: 2;
}

.panel_right-side-bar {
  grid-column: 2;
  grid-row: 2;
}

.sign-in-panel input {
  display: block;
  border: 1px solid lightgray;
  border-radius: 2px;
  font-size: 1.1rem;
  grid-gap: 20px;
  padding: 2px;
  margin: 3px;
}

.panel_right-side-bar button {
  background-color: hsl(183, 100%, 60%);
  color: #333;
  border: none;
  padding: 5px;
}

.half-width-image {
  width: 50%;
}

