:root {
  --forest-green: hsl(120, 100%, 23%);
  --light-green: hsl(120, 70%, 50%);
  --light-green--desat1: hsl(120, 67%, 50%);
  --light-green--desat2: hsl(120, 64%, 50%);
}

@font-face {
  font-family: bebas neue;
  src: url(../assets/BebasNeue.otf);
}

@font-face {
  font-family: Clear Sans;
  src: url(../assets/Clear_Sans/WOFF/ClearSans-Thin.woff);
}

@font-face {
  font-family: Roboto Slim;
  src: url(../assets/roboto/Roboto-Thin.ttf);  
}

@font-face {
  font-family: DINPro Regular;
  src: url(../assets/DINPro-Regular.ttf);
}

@font-face {
  font-family: DINPro Black;
  src: url(../assets/DINPro-Black.ttf);
}

@font-face {
  font-family: DINPro Bold;
  src: url(../assets/DINPro-Bold.ttf)
}

body {
  background-color: #FFF;
  margin: 0;
  padding: 0;
  width: 100%; 
  font-family: DINPro Regular
}

/* === NavBar Component === */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  font-family: DINPro Black; 
  text-transform: uppercase; 
}

.nav-bar_title {
  float: left; 
}

.nav-bar_item {
  float: right;
}

.nav-bar_title a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; 
}

.nav-bar_item a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: hsl(120, 100%, 23%);
}



/* === SignInPanel Component === */

/* .sign-in-panel {
  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-template-columns: 1fr 1fr;
  border: 1px solid gray;
  max-width: 800px;
  border-radius: 5px;
  font-family: Arial;
  background-color: hsl(336, 20%, 98%);
  margin: 10px;
  padding: 10px;
}

/* .panel_header {
  grid-column: 1 / 2;
  grid-row: 1;
} */

/* .panel_header h1 {
  color: #333;
  font-family: Clear Sans;
  font-size: 3rem;
} */

/* .panel_left-side-bar {
  grid-column: 1;
  grid-row: 2;
}

.panel_right-side-bar {
  grid-column: 2;
  grid-row: 2;
}

.sign-in-panel input {
  display: block;
  border: 1px solid lightgray;
  border-radius: 2px;
  font-size: 1.1rem;
  grid-gap: 20px;
  padding: 2px;
  margin: 3px;
}

.panel_right-side-bar button {
  color: #333;
  border: none;
  padding: 5px;
}

.half-width-image {
  width: 50%;
} */

/* ===About Page=== */
.about ol {
  margin: 15px;
}


/* ===Profile Page=== */
.profile-panel {
  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-template-columns: 1fr 1fr;
  border: 1px solid gray;
  max-width: 800px;
  border-radius: 5px;
  font-family: Arial;
  background-color: hsl(336, 20%, 98%);
  margin: 10px;
  padding: 10px;
}

.button-test{
  height:25px;
  width:200px;
  margin:5px;
  background-color: var(hsl(336, 20%, 98%));
}

.textfield-test{
  height:25px;
  width:200px;
  margin:5px;
 
}

/* === Home Page === */
.home-page h1 {
  font-family: Roboto Slim;
  font-size: 3rem;
}

/* === General Page Content === */

.page-content {
  padding: 0 10px;
  font-family: DINPro Regular; 
}

h1 {
  font-family: DINPro Black; 
}

h2, h3, h4, h5, h6 {
  font-family: DINPro Bold;
}

/* === Form Styling === */
.label { 
  margin: 10px 0; 
}

input {
  font-family: DINPro Regular; 
  width: 25%;
  margin-bottom: 15px; 
}

button {
  font-family: DINPro Regular;
  height: 20%;
  width: 10%;
  border-radius: 5px;  
  display: block; 
  margin: 10px 0;
}