
@font-face {
  font-family: bebas neue;
  src: url(./assets/BebasNeue.otf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #DDD;
}

.nav-bar {
  display: flex;
  position: fixed;
  width: 100%;
  max-height: 60px;
  top: 0;
  background-color: hsl(0, 0%, 15%);
  z-index: 1;
}

.nav-bar_button {
  display: block;
  background-color: hsl(155, 100%, 40%);
  color: hsl(0, 0%, 20%);
  font-family: bebas neue;
  font-size: 1.5em;
  border: none;
  min-width: 65px;
  text-align: center;
  padding: 10px;
  flex: 1;
}

.nav-bar_button:hover {
  position: relative;
  background-color: hsl(155, 100%, 37%);
}

.nav-bar_button:active {
  background-color: hsl(155, 100%, 34%);
}

.nav-bar_header {
  color: white;
  font-family: bebas neue;
  font-size: 2.2rem;
  border: none;
  padding: 10px;
  margin: 0px 10px;
  flex: 8;
}

.page-body {
  position: absolute;
  top: 62px;
  width: 100%;
}

.half-width-photo {
  width: 50%;
  position: absolute;
}