@font-face {
  font-family: bebas neue;
  src: url(./assets/BebasNeue.otf);
}

body {
  margin: 0;
}

.nav-bar {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: hsl(0, 0%, 15%);
  margin: 0;
  padding: 0;
}

.nav-bar_button {
  background-color: hsl(120, 100%, 40%);
  color: hsl(0, 0%, 20%);
  font-family: bebas neue;
  font-size: 1.5em;
  border: none;
  min-width: 65px;
  text-align: center;
  padding: 10px;
  margin: 0;
  flex: 1;
  height: 100%;
}

.nav-bar_button:hover {
  position: relative;
  background-color: hsl(120, 100%, 40%);
  box-shadow: -10px -10px white;
}

.nav-bar_button:active {
  background-color: hsl(120, 100%, 40%);
}

.nav-bar_header {
  color: white;
  font-family: bebas neue;
  font-size: 2em;
  border: none;
  padding: 10px;
  margin: 0px 10px;
  flex: 8;
}